<div class="card shadow-lg w-70 mt-5">
  <div class="card-header text-center py-4 border-0">
      <h1 class="display-6 fw-bold">CLIPBOARD</h1>
  </div>
  <div class="card-body p-4">

      <ul class="list-group">
          <li class="list-group-item mb-2 border py-0 rounded-3">
              <div class="input-group">
                  <input type="text" class="form-control border-0 py-3 shadow-none" placeholder="Ctrl+Enter to add and Enter for nextline"
                      #itemInput (keyup.control.enter)="onClick(itemInput)">
                  <button class="btn text-success border-0" (click)="onClick(itemInput)">
                      <i class="fa-solid fa-circle-plus fa-xl"></i>
                  </button>
              </div>
          </li>
          <li class="list-group-item mb-2 border py-3 rounded-3" *ngFor="let item of items">
              <span>
                  <!-- <i class="text-success" (click)="onStatusChange(item.id,!item.isDone)"
                      [ngClass]="item.isDone?'fa-solid fa-circle-check':'fa-regular fa-circle'"></i> -->
                  <span>{{item.item}}</span>
                  <span class="float-end text-secondary"
                  (click)="onDelete(item.id)">
                      <i class="fa-solid fa-trash-can"></i>
                  </span>
                  <span class="float-end text-secondary mx-3" (click)="copyMessage(item.item,item.id)">
                  <i *ngIf="!copied || item.id!=copiedId" class="fa fa-clipboard" aria-hidden="true"></i>
                  <i *ngIf="copied && item.id==copiedId" class="fa-solid fa-check fa-fade fa-lg"></i>
                  </span>

              </span>
          </li>
      </ul>
  </div>
</div>
<!-- <div class="container card text-white bg-dark mb-3" *ngFor="let item of items | slice:1">
  <div class="card-header d-flex justify-content-between">
    <h5>Featured</h5>
    <button class="btn btn-light btn-sm" >copy<i class="fa fa-copy"></i></button>
    <button class="btn btn-danger btn-sm">Delete</button>
  </div>
  <div class="card-body">
    <p class="card-text">{{item}}</p>
  </div>
</div> -->
